extends ../layout

block content
    h1= title
    h3= errorAuthMessage

    form(action='signin', method='post')
        .uk-margin
            .uk-inline
                span.uk-form-icon(uk-icon='icon: mail')
                |
                input.uk-input(name='email' type='email' value='akasikov@yandex.ru')
        |
        .uk-margin
            .uk-inline
                span.uk-form-icon.uk-form-icon-flip(uk-icon='icon: lock')
                |
                input.uk-input(name='password' type='password')
        .uk-margin
            .uk-inline
                input.uk-button.uk-button-default(type='submit' value='Войти')
