extends layout

block content
  h1= title
  h2 Функциональные требования
  p Бизнес-цель: Система управления задачами уровня предприятия. Сотрудники могут ставить задачи себе, руководитель может ставить задачи своим непосредственным подчиненным. По сути, система представляет собой систему управления задачами наподобие rememberthemilk, но расширенную управлением правами и пользователями на уровне организации.
  h2 Основные требования
  ol
    li В системе имеются две роли «Администратор» (предопределенный пользователь), «Пользователь» (добавляются администратором).
    li Редактирование древовидной оргструктуры организации (может только Администратор).
    li Добавление аккаунтов сотрудников – вход по эл.почте и паролю (указывается роль). (может только Администратор)
    li Пользователи могут ставить задачи себе.
    li Пользователи могут ставить задачи своим непосредственным подчиненным, но не подчиненным подчиненных.
    li Пользователь может видеть задачи:
      ul
        li Там, где он является ответственным (можно редактировать, только если он сам себе поставил задачу).
        li Те, которые он поставил своим подчиненным (можно редактировать).
    li Задача состоит из полей «Название», крайний срок-дата и время (необязательно), файл (необязательно, можно прикрепить файл, например, документ word, чтобы ответственный с ним ознакомился).
    li За час до крайнего срока ответственному по задаче приходит оповещение на эл. почту.
    li При постановке задач начальником подчиненному последнему приходит оповещение о постановке задачи на электронную почту.

  h2 Основные требования
  ol
    li Обязательно реализация в виде веб-приложения.
    li Технология реализации “Your technology” (frontend) + “Your technology” (backend) + “Your Database”.
    li Внешний вид пользовательского интерфейса жестких требований не имеет, но приветствуется его аккуратная реализация.
