doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/css/style.css')
    link(rel='stylesheet', href='/css/uikit.min.css')
    link(rel='stylesheet', href='/css/uikit-rtl.min.css')
  body
      nav.uk-navbar-container(uk-navbar='')
          .uk-navbar-left
              ul.uk-navbar-nav
                  li
                      a(href='/') Главная
                  if(auth && role === 1)
                      li
                          a(href='#') Управление
                          .uk-navbar-dropdown
                              ul.uk-nav.uk-navbar-dropdown-nav
                                  li
                                      a(href='/new_user') Создать пользователя
                                  li
                                      a(href='/delete_user') Удалить пользователя
                                  li
                                      a(href='/admin_tree') Редактировать дерево организации
                  if(auth)
                      li
                          a(href='#') Задачи
                          .uk-navbar-dropdown
                              ul.uk-nav.uk-navbar-dropdown-nav
                                  li
                                      a(href='/new_task') Создать
                                  li
                                      a(href='/all_tasks') Все задачи
                  if(!auth)
                      li
                          a(href='/signin') Авторизация
                      //li
                      //    a(href='/signup') Регистрация
          .uk-navbar-right
              if(auth)
                  ul.uk-navbar-nav
                      li #{user_name}
                      if(is_admin)
                          | (Администратор)
                      a(href='/logout') Выйти


      div.uk-container
        block content

  script(src="/js/uikit.min.js")
  script(src="/js/uikit-icons.min.js")
